body {
  background-color: #fb9625;
}


.spinner {
  display: flex;
  background-color: rgba(251, 150, 37, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.spinner > div {
  width: 1.3em;
  height: 1.3em;
  margin: 0 0.3rem;
  background-color: white;
  border-radius: 100%;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery img {
  max-height: 25vw;
  margin: 1vw;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s ease-out;
}
.gallery img:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.08);
}
.gallery img.grande {
  position: fixed;
  margin: 0;
  z-index: 9;
  max-width: 90vw;
  animation: alcentro 0.4s ease-out;
  animation-fill-mode: forwards;
  cursor: default;
}
.gallery .placeholder {
  display: none;
  margin: 1vw;
}
.gallery .placeholder.activ {
  display: block;
  background: rgba(0, 0, 0, 0.15);
}

#tapame {
  opacity: 0;
}

#tapame.abierto {
  opacity: 1;
  transition: 0.4s;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}

@keyframes alcentro {
  100% {
    max-height: 90vh;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 25px 30px -5px rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 700px) {
  .gallery img {
    max-height: 15rem;
  }
}